body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 90%;
    width: 100%;
    margin: 20px; /* Adjust margin to move the container up */
    box-sizing: border-box;
    position: relative; /* Allow positioning of the delete button */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 450px;
    display: inline-block; /* Allow the delete button to be on the same line */
}

#mainTaskSection {
    margin-bottom: 20px;
}

#mainTaskSection label {
    display: block;
    margin-bottom: 5px;
}

#mainTaskSection input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mainTaskSection button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mainTaskSection button:hover {
    background-color: #0056b3;
}

#taskListContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
    overflow-y: auto;
    max-width: 100%;
    max-height: 340px;
}

.taskContainer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainTaskOutput {
    margin-bottom: 10px;
}

.subTaskSection {
    margin-bottom: auto;
}

.subtasks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subtasks li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.subtasks li:last-child {
    border-bottom: none;
}

.removeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 5px;
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}

.deleteButton {
    position: absolute; /* Position the button in relation to the container */
    top: 10px;
    right: 10px;
    padding: 5px 10px; /* Smaller padding */
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Smaller font size */
}

.deleteButton:hover {
    background-color: darkred;
}
